.main-header {
    background-color: #fff;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
  }
  
  .header-left-section {
    width: 180px;
  }
  
  @media (max-width: 800px) {
    .header-left-section {
      width: unset;
    }
  }
  
  .header-link {
    display: inline-block;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .logo {
    width: 100px;
    margin-top: 5px;
  }
  
  .mobile-logo {
    display: none;
  }
  
  @media (max-width: 575px) {
    .logo {
      display: none;
    }
  
    .mobile-logo {
      display: block;
      height: 35px;
      margin-top: 5px;
    }
  }
  
  .header-middle-section {
    flex: 1;
    max-width: 850px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
  }
  
  .search-bar {
    flex: 1;
    width: 0;
    background: #f4f4f4;
    color: rgb(70, 68, 68);
    font-size: 16px;
    height: 38px;
    padding-left: 15px;
    border: none;
    outline: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .search-button {
    background-color: #a8b324;
    border: none;
    width: 65px;
    height: 40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    flex-shrink: 0;
  }

  .search-button:hover {
    background-color: #8a9a1f;
  }
  
  .search-icon {
    height: 22px;
    margin-left: 2px;
    margin-top: 3px;
  }

  @media (max-width: 575px) {
    .search-button{
      width: 50px;
    }
    
    .search-bar{
      font-size: 14px;
    }

    .search-icon {
      height: 18px;
    }
  }
  
  .header-right-section {
    width: 180px;
    flex-shrink: 0;
    display: flex;
    justify-content: end;
  }

  @media (max-width: 800px) {
    .header-right-section {
      width: unset;
    }
  }
  
  .orders-link {
    color: #0a472e;
  }

  
  .returns-text {
    display: block;
    font-size: 13px;
  }
  
  .orders-text {
    display: block;
    font-size: 15px;
    font-weight: 700;
  }

  
  .cart-link {
    color: #0a472e;
    display: flex;
    align-items: center;
    position: relative;
  }

 
  
  .cart-icon {
    width: 30px;
  }
  
  .cart-text {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 700;
  }
  
  .cart-quantity {
    font-size: 16px;
    font-weight: 700;
  
    position: absolute;
    top: -2px;
    left: 12px;
    
    width: 26px;
    text-align: center;
  }
  